{% extends 'main.html' %} {% block content %}
<div class="container">
  <div class="max-w-[720px] mx-auto py-10">
    <ul class="grid grid-cols-3 gap-2">
      {% for task in tasks %}

      <div class="py-6 px-4 bg-emerald-100 block w-full mb-4 rounded-md">
        <span><i class="fa-regular fa-calendar-minus mb-2"></i></span>
        <p class="text-md text-slate-700">{{task.title}}</p>
      </div>

      {% empty %}
      <div class="flex gap-5 p-4">
        <span
          ><i class="fa-solid fa-circle-info text-blue-600 text-xl"></i
        ></span>
        <p class="text-slate-600 text-md">No tasks yet! create new task now</p>
      </div>

      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
