{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9ca08a6a82.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    {% comment %}
    <div class="max-w-[960px] mx-auto py-2 flex justify-between items-center">
      <p>{{ user }}</p>
      <p>
        <a href="{% url 'signout' %}"
          ><i class="fa-solid fa-arrow-right-from-bracket"></i> Signout</a
        >
      </p>
    </div>
    {% endcomment %}
    <div class="max-w-[960px] mx-auto py-4 flex justify-between items-center">
      <span>
        <img src="{% static 'images/logo.svg' %}" alt="" class="h-10" />
      </span>

      <div class="flex gap-3 items-center">
        {% if request.path == '/profile/' %}
        <a
          href="/add/"
          class="rounded px-6 py-2 bg-green-500 text-white text-sm h-fit tracking-wide hover:bg-green-400"
        >
          Create New Task
        </a>

        {% endif %}
      </div>
    </div>
    <header
      class="container w-full bg-gray-300 h-56 bg-[url('{% static 'images/banner.jpg' %}')] bg-no-repeat bg-cover bg-center bg-slate-500 opacity-90"
    ></header>
    <header class="container w-full">
      <div class="max-w-[960px] mx-auto py-6">
        {% if request.path != '/profile/' %}
        <a href="/profile/" class="text-slate-500 pb-5">< Back Home</a>
        {% endif %}
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
